/*
   New Perspectives on HTML
   Tutorial 6
   Case Problem 4

   Millennium Computers

   Author: Masatoshi Nishiguchi
   Date:   10/21/2015

   Filename:         oform.css
   Supporting Files: none
   Description:      The styles for the order form
*/


/**
 * Universal
 */
form p {
    margin-left:20px;
    width: 400px;
}

legend {
  font-size: 1.4em;
}

label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}
label:after { content: ": " }


/**
 * Selection items styles

 select {
  display: block;
  float: left;
  font-size: 0.9em;
  margin: 7px 0px;
}
 */

/**
 * Textarea styles
 */
textarea {
  display: block;
  font-size: 0.9em;
  float: left;
  height: 150px;
  margin: 10px 10px;
  width: 50%;
}


/**
 * Check box styles
 */
#mychackbox {
  color: rgb(233,69, 0);
  float: none;
  margin: 10px auto;
  text-align: center;
  width: 90%;
}

#mychackbox input {
  display: inline;
  float: none;
  width: 20px;
}


/**
 * Option button styles (Radio buttons)
 */
fieldset.optionGroup {
  border-width: 0px;
  vertical-align: top;
  padding: 0;
}

fieldset.optionGroup label {
  display: inline;
  float: none;
  margin: 0px 3px 0px 0px;
  width: 30px;
  color: #666;
  font-weight: normal;
  font-size: 0.9em;
}

fieldset.optionGroup input {
  display: inline;
  float: none;
  margin: 0px 20px 0px 0px;
  width: 20px;
}

