/*
   New Perspectives on HTML
   Tutorial 6
   Case Problem 4

   Millennium Computers

   Author: Masatoshi Nishiguchi
   Date:   10/21/2015

   Filename:         oform.css
   Supporting Files: none
   Description:      The styles for the order form
*/

/**
 * Generic form fields
 */
input[type="text"], textarea, select, option {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 0 20px;
}

textarea {
  height: 200px;
  width: 100%;
  padding: 20px;
  font-size: 1.0em;
}

textarea, input[type="text"], select {
  border: 2px #CCC solid;
  border-radius: 5px;
}

input[type="text"], select > legend {
  height: 30px;
  font-family: Tahoma;
  font-size: 1.0em;
}

input[type="text"]:hover, textarea:hover, select:hover > legend {
  background-color: #f2e5ff;
}

select {
  padding: 4px 20px;
  font-size: 0.9em;
}

option {
  height: 30px;
  padding: 5px 4px;
}

option:not(:checked), textarea:focus {
}

input[type="text"]:focus, textarea:focus, select:focus > legend {
  border: 2px #CCAAAA solid;
}


/**
 * Field sets
 */
fieldset {
  border: 2px #DAA520 solid;
  border-radius: 10px;
  margin: 0 auto;
}

/* Direct children of the form */
form {
  padding: 20px 40px;
}



form > fieldset {
  margin-bottom: 30px;
}


/**
 * Labeling
 */
form p {
    margin-left:20px;
    width: 400px;
}

legend {
    font-size: 1.4em;
}

label {
    color: #8B4513;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
}

.required label {
    font-weight: bold;
}

.required label:after {
    color: #E32;
    content: ' *';
    display:inline;
}

#customer-info small {
    color: #E32;
}


/**
 * Option button styles (Radio buttons)
 */
fieldset.optionGroup {
    border-width: 0px;
    vertical-align: top;
    padding: 0;
}

fieldset.optionGroup label {
    display: inline;
    float: none;
    margin: 0px 3px 0px 0px;
    width: 30px;
    color: #666;
    font-weight: normal;
    font-size: 0.9em;
}

fieldset.optionGroup input {
    display: inline;
    float: none;
    margin: 0px 20px 0px 0px;
    width: 20px;
}


/**
 * Check box
 */
#warranty p label {
  margin-bottom: 15px;
}

/**
 * Button box
 */
.form-butons {
    text-align: center;
}


/**
 * Send order button
 */
.btn-send-order {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.0em;
    padding: 1.0em;
    background: #32CD32;
    color: #FFF;
}

.btn-send-order:hover, .btn-send-order:focus, .btn-send-order:active,
.btn-send-order.active, .open > .dropdown-toggle.btn-send-order {
    background: #28A428;
    color: #FFF;
}

.btn-send-order:active, .btn-custom.active {
    background: #145214;
    box-shadow: none;
}

/**
 * Cancel order button
 */
.btn-cancel-order {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.0em;
    padding: 1.0em;
    background: #777;
    color: #FFF;
}

.btn-cancel-order:hover, .btn-cancel-order:focus, .btn-cancel-order:active,
.btn-cancel-order.active, .open > .dropdown-toggle.btn-cancel-order {
    background: #666;
    color: #FFF;
}

.btn-cancel-order:active, .btn-custom.active {
    background: #555;
    box-shadow: none;
}
