/*
   New Perspectives on HTML
   Tutorial 5
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Masatoshi Nishiguchi
   Date:   10/14/2015

   Filename:         hcc.css
   Supporting Files: none
   Description:      The styles for the page layout (except for the schedule table)
*/


/**
 * Universal
 */
body {
  background-color: #FFF;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

.site-content {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


/**
 * Navbar at the top
 */
.top-nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.top-nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  border-bottom: 1px solid #888;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  margin-right: -4px;
  padding: 0 20px;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}

.top-nav a:hover {
  background-color: #005f5f;
}

.top-nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


/**
 * Page header
 */
.page-header {
}


/**
 * Clock
 */
section.clock {
  background-color: #CCC;
  padding: 0 2.0em;
  float: right;
  border-radius: 40px;
}

#time-now {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.2em;
}


/**
 * How to reserve rooms section
 */
section.how-to-reserve-rooms h3 {
  color: #333;
}

/* Multi-column layout */

section.how-to-reserve-rooms p {
   -moz-column-count: 2;
   -webkit-column-count: 2;
    column-count: 2;

   -moz-column-gap: 20px;
   -webkit-column-gap: 20px;
    column-gap: 20px;

   -moz-column-rule: 1px solid black;
   -webkit-column-rule: 1px solid black;
    column-rule: 1px solid black;

    color: #666;
}


/**
 * Book-now button
 */
.btn-custom {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 5px 10px;
    background: #32CD32;
    color: #FFF;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active,
.btn-custom.active, .open > .dropdown-toggle.btn-custom {
    background: #28a428;
    color: #FFF;
}

.btn-custom:active, .btn-custom.active {
    background: #145214;
    box-shadow: none;
}


/**
 * Card
 */
.card {
  padding: 1.0em 2.0em 2.0em 2.0em;
  box-shadow: 0 1px 2px #aaa;
  background:  #EFE;
  margin: 0 1rem 1rem;
  border-radius: 3px;
  user-select: none;
  animation: fly-in-from-left .5s 1s ease both;
  transform-origin: top left;
}


/**
 * Footer
 */
footer {
  line-height: 3em;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #EAEAEA;
  color: #333;
  clear: both;
}

footer a {
  color: #777;
}

footer a :hover {
    color: #333;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer li {
  float: left;
  margin-left: 15px;
}


/**
 * Room capacity table
 */
.rooms-info table {
  border-collapse: separate;
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-shadow:  10px 10px 5px #888888;
  border: 1px solid #3f7f00;
}


/* thead */

.rooms-info table thead {
  line-height: 30px;
}

.rooms-info table thead th {
  background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
  background: -moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
  background: -o-linear-gradient(top,#5fbf00,3f7f00);

  background-color: #5fbf00;
  border: 0px solid #3f7f00;
  vertical-align: middle;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 1.0em;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}


/* tbody */

.rooms-info table tbody tr:nth-child(odd) {
  background-color: #d4ffaa;
}

.rooms-info table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.rooms-info table tbody td {
  vertical-align: middle;
  text-align: center;
  border: 1px solid #3f7f00;
  border-width: 0px 1px 1px 0px;
  padding: 7px;
  font-size: 0.9em;
  font-family: Arial;
  font-weight: normal;
  color: #000000;
}

.rooms-info table tbody td {
  height: 20px;
}


/* Adjusts border styles for last children cells */

.rooms-info table tbody tr:last-child td{
  border-width: 0px 1px 0px 0px;
}

.rooms-info table tbody tr td:last-child{
  border-width: 0px 0px 1px 0px;
}

.rooms-info table tbody tr:last-child td:last-child{
  border-width: 0px 0px 0px 0px;
}
