/*
   New Perspectives on HTML
   Tutorial 5
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Masatoshi Nishiguchi
   Date:   10/14/2015

   Filename:         hcc.css
   Supporting Files: none
*/


/* Global */

body {
  background-color: #FEFEFE;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

.site-content {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

span.capitalize {
    text-transform: capitalize;
}

span.uppercase {
    text-transform: uppercase;
}


/* Footer */

footer {
  line-height: 3em;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #EAEAEA;
  color: #333;
  clear: both;
}

footer a {
  color: #777;
}

footer a :hover {
    color: #333;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer li {
  float: left;
  margin-left: 15px;
}
