/*
   New Perspectives on HTML
   Tutorial 5
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Masatoshi Nishiguchi
   Date:   10/14/2015

   Filename:         schedule.css
   Supporting Files: none
   Description:      The styles for the table
*/


/**
 * The reservation info table
 */

/* Table styles */

table.reservation-info {
   border-collapse: collapse;
   border: 2px solid black;
   font-family: Arial, Verdana, sans-serif;
   width: 100%;
}



/* Table caption styles */

table.reservation-info caption {
   text-align: left;
   font-size: 1.0em;
   caption-side: bottom;
   margin-top: 1.0em;
   color: #666;
}



/* Table row styles */

table.reservation-info tr {
   height: 25px;
}



/* Table header styles */

/* Default */
table.reservation-info thead {
   color: white;
}

table.reservation-info th {
   font-size: 0.7em;
   border: 1px solid gray;
}

/* Specifics */

table.reservation-info thead tr.todays-date th {
   background-color: #0099cc;
   font-size: 1.5em;
   height: 60px;
}

table.reservation-info thead tr.room-names th {
   background-color: #DDD;
   font-size: 1.0em;
   height: 30px;
   width: 18%;
}

table.reservation-info thead tr.room-names th:first-of-type {
  width: 10%;
}

table.reservation-info thead tr.room-names th:nth-of-type(2),
table.reservation-info thead tr.room-names th:nth-of-type(3),
table.reservation-info thead tr.room-names th:nth-of-type(4) {
   color: #9933cc;

}

table.reservation-info thead tr.room-names th:nth-of-type(5),
table.reservation-info thead tr.room-names th:nth-of-type(6) {
   color: #ff8a00;
}



/* Styles for the table columns */

table.reservation-info col.timeColumn {
    background-color: #DDD;
}

table.reservation-info col.cols-small-room {
    background-color: #f5eafa;
}

table.reservation-info col.cols-large-room {
    background-color: #fff6df;
}



/* Table body styles */

table.reservation-info tbody th {
    vertical-align: top;
    text-align: right;
}

table.reservation-info tbody th span {
    font-size: 1.5em;
}

table.reservation-info tbody tr td {
    border: 1px solid gray;
    font-size: 1.0em;
    vertical-align: top;
    padding: 2px;
    height: 64px;
}




/* Hourly dividors */
table.reservation-info tbody tr:nth-child(odd) {
}




/* Reserved cells */
td.booked {
    background-color: #2cb1e1;
}
